@import 'sass-library';

aside { top: 86px !important; height: 88vh !important; }
footer {
	.f-copy { text-align: center; margin-top: 15px; }
	.f-menu { margin-top: 12px; text-align: center;
		a { font-size: 13px; line-height: 14px; padding: 0px 10px; 
			&:last-child {
			    padding-right: 10px;
			}
			&::after { top: 3px; }
			&:last-child {
				&::after { display: none; }
			}
		}
	}
	.f-newsletter { text-align: center; }
	.f-socmed { text-align: center; }
	.left , .right { float: none; }
	.right { display: block; margin-top: 35px; 
		p { display: none; }
		input { width: 150px !important; }
	}
}
header { z-index: 4 !important; padding: 15px 0px;
	.h-logo { padding-top: 6px;
		img { height: 20px; }
	}
	.h-left { width: 50%; }
	.h-login { display: none; }
	.h-menu , .h-search { display: block !important; }
	.h-menu { top: 0px !important; 
		li { text-align: left; display: block !important; float: none; width: 100%; border-bottom: 1px solid #e2e2e2; padding: 18px 5%; 
			a { padding: 0px 0px; color: #0b457d; font-size: 16px; font-weight: 500; }
		}
	}
	.h-right { display: none; @include transition(all .2s ease-out);
		&.active { display: block; position: absolute; width: 100%; left: 0%; padding: 0px 0px; top: 64px; background: #fff; }
	}
	.h-right-mobile { display: inline-block; width: 50%; position: relative; top: 3px; }
	.h-search { margin-top: 130px; padding-bottom: 30px;
		input { width: 100%; padding-left: 25px; border-bottom: 1px solid #bda5a5; color: #080808; 
			&:focus { border-bottom: 1px solid #bda5a5 !important; }
		}
		span { background: url(../img/material/search-mobile.png) !important; top: 14px !important; }
	}
}
input {
	&.search { font-size: 15px; padding: 8px 50px 8px 15px; }
	&.big { top: 0px; }
}
select { font-size: 15px; padding: 8px 50px 8px 15px; }
.about-list {
	.list { padding: 30px 0px 10px; float: none; width: 100%; margin-right: 0%; 
		p.desc { text-align: center; padding-top: 20px; font-size: 15px; line-height: 22px; }
		.img-container { max-width: 250px; margin: 0 auto; }
	}
}
table {
	tr {
		th { display: none; }
		td { display: block; border-right: 0px solid #bbbaba; padding: 15px 15px 0px;
			&:first-child { border-left: 0px solid #bbbaba; }
			&:last-child { padding-bottom: 20px !important; }
			&::before { content: attr(data-title); display: block; width: 100%; font-size: 15px; font-weight: bold; }
		}
		&:last-child {
			td { border-bottom: 0px solid #bbbaba; }
		}
	}
}
.accordion {
	.head-acc {
		.h-title { font-size: 24px !important; }
	}
}
.auth-container {
	.side-left , .side-right { float: none; width: 100%; }
	.side-left { min-height: auto; 
		.centerize { position: relative; padding: 40px 20px; top: 0px; left: 0px !important; right: 0px !important; @include transform(translateY(0%)); }
		.forgot { width: 45%;
			a { font-size: 13px; } 
		}
		.remember { width: 55%; }
	}
	.side-right { display: none; }
}
.banner { padding: 130px 0px 70px !important; 
	h1 { padding: 0px 0px 10px !important; font-size: 28px !important; line-height: 38px !important; }
	h4 { font-size: 18px !important; line-height: 24px !important; padding-bottom: 0px !important; }
	.bigsearch { display: none; }
	.b-search {  margin-top: 30px; width: 100% !important;
		.list-cont { top: 59px; }
		.drop { width: 44% !important; }
		.button { height: 50px; padding: 10px 16px; font-size: 16px !important; line-height: 35px !important; 
			span { width: 17px; height: 9px; background-size: 100%; right: 12px; top: 21px; }
			font { width: 80px; height: 30px; overflow: hidden; display: block; }
		}
		input { width: 56% !important; font-size: 16px !important; padding: 16px 15px 17px 16px; height: 50px; }
	}
}
.box-desc , .re-search { 
	.list { float: none; width: 100%; padding: 10px 0px 3px 0px !important; 
		img { width: 100%; }
	}
}
.box-subreq { padding: 0px 0px !important; border: none; 
	.ch-title { margin-bottom: 15px; }
}
.btn.long { padding: 10px 100px !important; margin: 0 auto !important; }
.cat {
	.content-cat { width: 100%; overflow: scroll; padding: 0px 0px 0px 0px !important; }
}
.ch-title.big, .search-list b.big { font-size: 26px !important; line-height: 36px !important; }
.chart { height: 350px; }
.chart-mobile { padding: 0px 0px; }
.content {
	&.c-home { padding: 50px 0px 20px; }
	&.c-standard { padding: 130px 0px 60px; }
	&.thankyou {
		.ch-title.big { font-size: 32px !important; line-height: 40px !important; margin-bottom: 0px !important; }
		.ch-title.fwn, .search-list b.fwn, .search-list b.fwn { font-size: 16px !important; line-height: 24px !important; }
	}
	&.notfound {
		.ch-title.fwn, .search-list b.fwn, .search-list b.fwn { font-size: 16px !important; line-height: 24px !important; }
		.ch-title.big404, .search-list b.big404 {
		    font-size: 90px !important;
		    line-height: 70px !important;
		}
	}
}
.data-home {
	.dh-list { padding-bottom: 10px;
		p { font-size: 14px !important; line-height: 22px !important; }
		.dhl-title { font-size: 22px; } 
	}
}
.data-list {
	.list { padding: 30px 0px 10px; float: none; width: 100%; margin-right: 0%; 
		a { padding-bottom: 0px; margin-bottom: 8px; }
	}
}
.data-list-2 {
	.list {
		img { float: none !important; width: 100% !important; display: block; }
		.link-title { display: block !important; padding-left: 0% !important; padding-top: 25px; }
	}
}
.dw { font-size: 17px; 
	span { width: 16px; height: 17px; background-size: 100%; margin-right: 5px; }
}
.filter2-container {
	.form-group { float: none; width: 100%; padding: 8px 0px; }
	input , select { width: 100%; }
}
.filter-home { padding-bottom: 10px;
	.fh-list { display: none !important; }
	.fh-list-mobile { display: block; }
}
.fixed-download { right: 0px; bottom: 0px; }
.g-recaptcha { @include transform(scale(0.85)); position: relative; left: -8%; }
.pagination { text-align: center;
	ul {
		li { font-size: 16px; padding-left: 11px; 
			&:first-child { padding-left: 0px; }
		}
	}
}
.play { width: 70px; height: 70px; background-size: 100% !important; } 
.popup {
	.wrapper { width: 100% !important; max-width: 480px; }
	&.type2 {
		.pop-content {
			.side-left { width: 100%; float: none; padding: 45px 20px; position: relative; }
			.side-right { display: none !important; }
		}
	}
	.pop-content {
	    position: relative;
	    padding: 65px 25px;
	    .form-group { margin-right: 0px !important; }
	    form.three-quarter { width: 100% !important; }
	}
	.pop-close::before, .pop-close::after { left: 9px; }
}
.pre-header { font-size: 16px; line-height: 26px; }
.re-search { padding-top: 10px !important;
	.list { margin-bottom: 20px;
		img { margin-bottom: 8px; }
		.b-link { margin: 0px 0px 8px; font-size: 19px; font-weight: 600; padding-right: 37px; line-height: 27px; }
		&:last-child { margin-bottom: 0px; }
	}
}
.search-list {
	b , p , span { display: block; }
	a { right: 0px; margin-bottom: 8px; position: relative; display: inline-block; top: 0px; @include transform(translateY(0%)); margin-top: 20px; 
		&.bbor { position: relative; display: inline-block; @include transform(translateY(0%)); top: 0%; right: 0px; resize: none; } 
	}
}
.search-filter { margin-top: 20px;
	.search-ico { top: 47% !important; @include transform(translateY(-47% !important)); }
}
.table-cat { margin-top: 15px;
	tr { position: relative; display: block;
		td { border-bottom: 0px solid transparent; padding: 15px 15px 0px 40px;
			&:first-child { position: absolute; top: 0px; left: 10px !important; padding-left: 0px; top: 5px; }
		}
		&:nth-child(odd) { background-color: #fafafa; }
	}
}
.video-container { margin: 30px 0px 0px; }
.wrapper, .wrapper.type-2 { width: 89% !important; }
.wrapper {
	&.np-wrapper { width: 100% !important; 
		.filter , .srestitle { padding: 0px 5.5%; }
	}  
	&.w-about-mobile { width: 100% !important; 
		h1 , p , .about-list { padding: 0px 5.5%; }
	}
	&.w-mdl-mobile { width: 100% !important; 
		p , .pre-header,  { padding: 0px 5.5%; }
	}
}