@import 'sass-library';

article { width: 726px; }
aside { width: 230px; }
footer {
	.f-socmed { margin-bottom: 16px; }
	.f-menu {
		a { font-size: 15px; line-height: 15px; }
	}
	.f-copy { font-size: 13px; padding-top: 3px; }
}
input {
	&.search { font-size: 15px; padding: 10px 50px 10px 15px; }
}
select { padding: 10px 50px 10px 15px; font-size: 15px; }
table {
	tr {
		th { font-size: 15px; }
		td { font-size: 14px; }
	}
}
.article {
	p { font-size: 18px; line-height: 28px; }
}
.auth-container {
	.side-left { min-height: 528px; }
}
.banner { padding: 198px 0px 106px;
	h1 { font-weight: 500; }
	h4 { padding-top: 17px; opacity: 0.8; font-size: 20px; line-height: 30px; width: 700px; margin: 0 auto; 
		br { display: none; }
	}
	.b-wrapper { width: 100%; }
}
.box { padding: 20px 20px; }
.box-desc , .re-search {
	.list { padding: 6px 25px 3px 0px; 
		img { margin-bottom: 15px; }
		a { font-size: 20px; line-height: 26px; }
	}
}
.btn { font-size: 15px; }
.cat {
	.content-cat { padding: 7px 25px 0px; }
}
.content { padding: 103px 0px 80px; 
	&.c-standard { padding : 156px 0px 63px; }
}
.data-home {
	.dh-list {
		.dhl-title { font-weight: 500; padding-top: 6px; padding-bottom: 12px; }
		p { line-height: 28px; }
	}
}
.data-list {
	.list {
		img { margin-bottom: 15px; }
	}
}
.data-list-2 {
	.list {
		.link-title {
			a { line-height: 26px; }
			p { font-size: 14px; }
		}
	}
}
.pre-header { margin: 30px 0px; 
	&.mn { margin: 0px 0px; }
}
.srestitle { font-size: 26px; line-height: 34px; }
.utp { margin: 0px 0px; }
.utp2 { margin-top: 0px; }
.video-container {
	&.t2 { margin: 0px 0px; }
}
.wrapper , .wrapper.type-2 { width: 960px; }