@import 'sass-library';

aside { top: 86px !important; height: 88vh !important; }
footer {
	.f-copy { text-align: center; margin-top: 15px; }
	.f-menu { margin-top: 12px; text-align: center;
		a { font-size: 13px; line-height: 14px; padding: 0px 10px; }
	}
	.f-newsletter { text-align: center; }
	.f-socmed { text-align: center; }
	.left , .right { float: none; }
	.right { display: block; margin-top: 35px; 
		p { display: none; }
		input { width: 176px !important; }
	}
}
header { z-index: 4 !important;
	.h-logo {
		img { height: 20px; }
	}
	.h-left { width: 50%; }
	.h-login { display: none; }
	.h-menu , .h-search { display: block !important; }
	.h-menu { top: 0px !important; 
		li { text-align: left; display: block !important; float: none; width: 100%; border-bottom: 1px solid #e2e2e2; padding: 18px 5%; 
			a { padding: 0px 0px; color: #0b457d; font-size: 16px; font-weight: 500; }
		}
	}
	.h-right { display: none; @include transition(all .2s ease-out);
		&.active { display: block; position: absolute; width: 100%; left: 0%; padding: 0px 0px; top: 84px; background: #fff; }
	}
	.h-right-mobile { display: inline-block; width: 50%; }
	.h-search { margin-top: 130px; padding-bottom: 30px;
		input { width: 100%; padding-left: 25px; border-bottom: 1px solid #dddddd; color: #080808; }
		span { background: url(../img/material/search-mobile.png) !important; top: 14px !important; }
	}
}
input {
	&.search { font-size: 15px; padding: 8px 50px 8px 15px; }
}
select { font-size: 15px; padding: 8px 50px 8px 15px; }
.about-list {
	.list { padding: 30px 0px 10px; float: none; width: 100%; margin-right: 0%; 
		p.desc { text-align: center; padding-top: 20px; font-size: 15px; line-height: 22px; }
		.img-container { max-width: 250px; margin: 0 auto; }
	}
}
.accordion {
	.head-acc {
		.h-title { font-size: 24px !important; }
	}
}
.auth-container {
	.side-left , .side-right { float: none; width: 100%; }
	.side-left { min-height: auto; 
		.centerize { position: relative; padding: 40px 20px; top: 0px; left: 0px !important; right: 0px !important; @include transform(translateY(0%)); }
		.forgot { width: 45%;
			a { font-size: 13px; } 
		}
		.remember { width: 55%; }
	}
	.side-right { display: none; }
}
.banner { padding: 130px 0px 70px !important; 
	h1 { padding: 0px 0px 10px !important; font-size: 28px !important; line-height: 38px !important; }
	h4 { font-size: 18px !important; line-height: 24px !important; padding-bottom: 0px !important; }
	.b-search { display: none; }
}
.box-desc , .re-search { 
	.list { float: none; width: 100%; padding: 10px 0px 3px 0px !important; 
		img { width: 100%; }
	}
}
.cat {
	.content-cat { width: 100%; overflow: scroll; }
}
.ch-title.big, .search-list b.big { font-size: 26px !important; line-height: 36px !important; }
.chart { height: 350px; }
.chart-mobile { padding: 0px 0px; }
.content {
	&.c-home { padding: 50px 0px; }
	&.c-standard { padding: 130px 0px 60px; }
}
.data-home {
	.dh-list {
		p { font-size: 18px !important; line-height: 26px !important; }
	}
}
.data-list {
	.list { padding: 30px 0px 10px; float: none; width: 100%; margin-right: 0%; 
		a { padding-bottom: 0px; margin-bottom: 8px; }
	}
}
.dw { font-size: 17px; 
	span { width: 16px; height: 17px; background-size: 100%; margin-right: 5px; }
}
.filter2-container {
	.form-group { float: none; width: 100%; padding: 8px 0px; }
	input , select { width: 100%; }
}
.filter-home {
	.fh-list { display: none !important; }
	.fh-list-mobile { display: block; }
}
.pagination { text-align: center;
	ul {
		li { font-size: 16px; padding-left: 11px; 
			&:first-child { padding-left: 0px; }
		}
	}
}
.play { width: 70px; height: 70px; background-size: 100% !important; } 
.pre-header { font-size: 16px; line-height: 24px; }
.re-search { padding-top: 10px !important;
	.list { margin-bottom: 20px;
		img { margin-bottom: 8px; }
		.b-link { margin: 0px 0px 8px; font-size: 19px; font-weight: 600; padding-right: 37px; line-height: 27px; }
		&:last-child { margin-bottom: 0px; }
	}
}
.search-list {
	b , p , span { display: block; }
	a { right: 0px; margin-bottom: 15px; position: relative; display: inline-block; top: 0px; @include transform(translateY(0%)); margin-top: 20px; }
}
.search-filter { margin-top: 20px;
	.search-ico { top: 47% !important; @include transform(translateY(-47% !important)); }
}
.video-container { margin: 30px 0px 0px; }
.wrapper, .wrapper.type-2 { width: 89% !important; }
.wrapper {
	&.np-wrapper { width: 100% !important; 
		.filter , .srestitle { padding: 0px 5.5%; }
	}  
	&.w-about-mobile { width: 100% !important; 
		h1 , p , .about-list { padding: 0px 5.5%; }
	}
}