@import 'sass-library';
/*font : hind (find out in google)*/

* { @include boxSizing(border-box); }
aside , article { padding-top: 33px; display: inline-block; margin: 0px 0px; }
aside { width: 239px; padding-right: 30px; vertical-align: top; background-image: url('../img/material/bgaside.png'); background-position: right top; background-repeat: no-repeat; 
	b { @extend .b-link; }
}
article { width: 925px; padding-left: 30px; }
button, input { font-family: calibri, sans-serif; }
header { @extend .pa; top: 0; left: 0; right: 0; color: $white; padding: 25px 0px; z-index: 2; 
	.h-left { width: 30%; }
	.h-right { width: 70%; }
	.h-logo { @extend .fl; padding-top: 4px;
		img { height: 31px; }
	}
	.h-menu {
		a { font-size: 18px; color: $white; padding: 15px 23px 15px 10px; }
		li {
			&:last-child {
				a { padding-right: 30px; }
			}
		}
	}
	.h-search { @extend .pr; opacity: 0.5; @include transition(all .15s ease-out); padding: 0px 15px;
		span { top: 10px; background: url('../img/material/search.png'); width: 15px; height: 15px; @extend .pa; }
		input { padding-left: 30px; font-size: 18px; width: 188px; height: 43px; color: $white; @include appearance(none); background: transparent; border:none; border-bottom: 1px solid $white; 
		}
		&:hover , &:click , &:active , &:visited , &:focus { opacity: 1; }
	}
	.f-login { border: 1px solid $orange; padding: 16px 21px; color: $orange; }
	&.active { position: fixed; background: $blue2; }
}
html, body { font-size: 16px; font-family: calibri, sans-serif; }
footer { background: $gray2; padding: 40px 0px; 
	.f-copy { color: $gray; font-size: 14px; }
	.f-menu { margin-bottom: 12px;
		a { color: $gray; padding-right: 15px; padding-left: 15px; font-size: 18px; line-height: 18px; border-right: 1px solid $gray; 
			&:first-child { padding-left: 0px; }
			&:last-child { padding-right: 0px; border-right: none; }
		}
	}
	.f-socmed { margin-bottom: 10px; }
	.right {
		p { color: $gray; font-size: 16px; text-transform: uppercase; padding-bottom: 8px; margin-bottom: 0px; }
		input { @include appearance(none); border:none; color: $gray; background: $white; padding: 12px 8px; font-size: 16px; width: 220px; @include borderRadius(7px); }
		button { @include appearance(none); border: none; background: $orange; color: $white; font-size: 16px; padding: 12px 21px; @include borderRadius(7px); }
	}
}
select { @include appearance(none); @include borderRadius(7px); padding: 8px 50px 8px 15px; border: 1px solid #7f7f7f; color: #7f7f7f; position: relative; }

.article { padding: 30px 0px;
	p { font-size: 16px; line-height: 24px; margin-bottom: 30px; }
}
.arr-select { @include transform(translateY(-52%)); display: block; z-index: 2; position: absolute; resize: vertical; width: 12px; height: 7px; top: 52%; right: 16px; background-color: transparent;  
	&::before , &::after { content:""; background-color: #7f7f7f; position: absolute; @include rotate(45deg); } 
	&::before { width: 9px; height: 1px; top: 2px; }
	&::after { width: 1px; height: 9px; top: -2px; right: 0px; }
}
.b { font-weight: bolder; }
.b-link { color: $blue; display: block; margin: 0px 0px 13px; font-size: 22px; line-height: 30px; font-weight: bolder; }
.banner { padding: 238px 0px 106px; color: $white; @extend .tc;
	h1 { font-size: 36px; line-height: 56px; text-transform: uppercase; }
	h4 { font-size: 18px; line-height: 24px; padding-top: 10px; padding-bottom: 106px; }
	.b-search { display: block; @extend .m0a; width: 968px; @extend .pr; padding-bottom: 56px;
		button { position: relative; @include borderRadius(40px 0px 0px 40px); padding: 10px 30px; font-size: 20px; text-align: left; width: 225px; height: 60px; @include appearance(none); background: $orange; color: $white; border: none; 
			span { position: absolute; width: 20px; height: 11px; background: url('../img/material/banner-arrow.png'); right: 25px; top: 25px; }
		} 
		input { width: 743px; height: 60px; padding: 17px 30px 17px 65px; color: $gray; font-size: 16px; @include borderRadius(0px 40px 40px 0px); }
	}
	.bigsearch { top: 16px; left: 245px; position: absolute; width: 27px; height: 27px; background: url('../img/material/search-big.png'); }
	.b-wrapper { width: 1031px; 
		&.type-2 { width: 970px; }
	}
}
.bg-gray { background-color: $gray; }
.bg-gray2 { background-color: $gray2; }
.bg-gray3 { background-color: $gray3; }
.bg-gray4 { background-color: $gray4; }
.bg-gray5 { background-color: $gray5; }
.box { padding: 15px 20px; position: relative;
	&.hbb { border-bottom: 1px solid $gray4; }
}
.box-desc , .re-search { position: relative;
	.list { float: left; width: 25%; padding: 3px 20px 3px 0px; }
	&::after { content: ""; display: block; clear: both; }
}
.bs-bb { @include boxSizing(border-box); } 
.btn { padding: 10px 21px; font-size: 16px; @include borderRadius(8px); border: 1px solid transparent;
	&.bbor { color: $orange; border: 1px solid $orange;
		&:hover , &:active , &:focus { background-color: $orange; color: $white;}
	}
}
.c-blue { color: $blue; }
.c-gray { color: $gray; }
.c-gray2 { color: $gray2; }
.c-gray3 { color: $gray3; }
.c-gray4 { color: $gray4; }
.c-gray5 { color: $gray5; }
.c-orange { color: $orange; }
.ch-title { font-size: 22px; font-weight: bolder; 
	&.hm { margin-bottom: 22px; }
	&.hm2 { margin-bottom: 15px; }
	&.big { font-size: 36px; }
}
.cb , .cba:after , .cbb:after { @extend .db; clear: both; }
.content { padding: 93px 0px 80px;
	&.c-home { padding: 80px 0px; }
	&.c-standard { padding: 156px 0px 93px; }
}
.data-home {
	.dh-list { float: left; width: 50%; padding-bottom: 30px;
		.dhl-date { font-size: 13px; color: $gray; line-height: 16px; padding-bottom: 3px; }
		.dhl-title { padding-bottom: 7px; font-size: 28px; color: $blue; line-height: auto; }
		p { font-size: 18px; padding-right: 30px; color: $gray3; }
		&:nth-child(even) { border-left: 1px solid $gray; padding-left: 5%;
			&:after { display: block; clear: both; }
		}
		&:nth-child(odd) { padding-right: 5%; }
	}
}
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }
.dw { font-size: 19px; color: $orange;
	span { width: 18px; height: 20px; background: url('../img/material/dw.png'); position: relative; display: inline-block; margin-right: 10px; }
}
.fhl { display: inline-block; width: 27px; height: 22px; position: absolute; margin-right: 7px; left: 0px; top: 8px;
	&.fhl-1 { background: url('../img/material/fhl-1.png'); }
	&.fhl-2 { background: url('../img/material/fhl-2.png'); }
	&.fhl-3 { background: url('../img/material/fhl-3.png'); }
} 
.filter-home { padding-bottom: 40px;
	.fh-list {
		li { padding: 11px 40px 11px 37px; position: relative; opacity: 0.3; @include transition(all .15s ease-out);
			a { color: $black; font-size: 18px; }
			&:after { content: ""; position: absolute; width: 1px; top: 7px; right: 20px; bottom: 7px; background: $gray; }
			&:last-child { padding-right: 0px; border-right: none; 
				&:after { display: none; }
			}
			&:hover , &.active { opacity: 1; }
		}
	}
	.fh-title { font-size: 30px; }
}
.fl { float: left; }
.form-group { position: relative; margin-right: 10px; padding: 15px 0px; }
.fn { float: none; }
.fr { float: right; }
.fs { @extend .dib; width: 25px; height: 25px; margin-right: 7px; opacity: 0.5;
	&.fs-fb { background: url('../img/material/fs-fb.png'); }
	&.fs-ig { background: url('../img/material/fs-ig.png'); }
	&.fs-in { background: url('../img/material/fs-in.png'); }
	&.fs-tw { background: url('../img/material/fs-tw.png'); }
	&:hover { opacity: 1; }
} 
.fwn { font-weight: normal; }
.line-dashed { background-color: transparent; margin: 10px 0px; width: 0px; display: block; width: 100%; border-bottom: 1px dashed #b0b0b0; }
.m0 { margin: 0px 0px; }
.m0a { margin: 0 auto; }
.mw100 { max-width: 100%; }
.p0 { padding: 0px 0px; }
.pa { position: absolute; }
.pf { position: fixed; }
.pi { position: inherit }
.pr { position: relative; }
.ps { position: static; }
.re-search { padding: 20px 0px; 
	.list {

	}
}
.search-list {
	a { line-height: 20px; position: absolute; display: inline-block; top: 50%; right: 20px; resize:vertical; @include transform(translateY(-50%)); 
		&:hover {
			.splus { background-color: $white;
				&::before , &::after { background-color: $orange; }
			}
		}		
	}
	b { @extend .ch-title; font-weight: normal; }
	p { margin-bottom: 0px; }
	span { color: $gray; }
	.splus { position: relative; float: left; margin-right: 15px; width: 20px; height: 20px; background-color: $orange; @include borderRadius(30px); 
		&::before , &::after { background-color: $white; content: ""; display: block; position: absolute; }
		&::before { width: 10px; height: 2px; top: 9px; left: 5px; }
		&::after { width: 2px; height: 10px; top: 5px; left: 9px; }
	} 
}
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.w-100 { width: 100%; }
.wrapper { width: 1168px; @extend .m0a; }

/*third party*/
/* Customize the label (the side-filter) */
.side-filter {
  display: block;
  position: relative;
  padding-left: 29px;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.side-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid $gray;
}

/* On mouse-over, add a grey background color */
.side-filter:hover input ~ .checkmark {
  background-color: $gray2;
}

/* When the checkbox is checked, add a blue background */
.side-filter input:checked ~ .checkmark {
  background-color: $blue; border: 1px solid $blue; 
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.side-filter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.side-filter .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*Media Queries*/
@media (max-width:991px) {

}
@media (max-width:767px) {

}
/*end*/
